.feature-tile {
  position: relative;

  &__header {
    color:$white;
    background-color:$primary;
    padding:1rem;

  }
  &__content {
    color:$primary;
    background-color:$white;
    padding:1rem;

  }

}
