.timeline {
  &__selector {
    width: 100%;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    .selector {
      width: 50%;
      padding: 0.5rem 1rem;
      background-color: #e3e3e3;
      position: relative;
      * {
        svg {
          @media screen and(max-width:425px) {
            display: none;
          }
        }
        pointer-events: none;
      }
      &.active {
        &#timeline {
          &:after {
            content: '';
            position: absolute;
            right: 20px;
            bottom: 0px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 15px solid #fff;
          }
        }
        &#awards {
          &:after {
            content: '';
            position: absolute;
            left: 20px;
            bottom: 0px;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-bottom: 15px solid #fff;
          }
        }
      }
      h3 {
        color: $primary !important;
        font-size: 2.25rem;
        svg {
          margin: 0px 0.5rem;
        }
      }
      &:first-of-type {
        text-align: right;
        background-color: $primary;
        h3 {
          color: #fff !important;
        }
      }
    }
  }
  &__daterange {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    @media screen and (max-width: 425px) {
      flex-direction: column;
    }
    div {
      padding: 1rem 4rem;
      cursor: pointer;
      h6 {
        color: $primary !important;
        margin-bottom: 0;
        pointer-events: none;
      }

      &.active {
        box-shadow: inset 0px -3px 0px 0px #002a54;
      }
    }
  }
  &__section {
    display: none;
    .col-md-4 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
    &.active {
      display: block;
    }
  }
}

.shelf {
  display: none;
  &.active {
    display: block;
  }
}
